.root-card{
Width: 250px;
margin: 25em;
margin-top: -26em;
margin-bottom: 0;
}
.media{
    height: 167px;
}
.root-card1{
    Width: 250px;
    margin: 45em;
    margin-top: -22em;
    margin-bottom: 0;
    }
    .media{
        height: 167px;
}
.root-card2{
    width: 250px;
    margin: 65em;
    margin-top: -22em;
    margin-bottom: 0;
    }
.media{
    height: 167px;
}