.home_style {
    background-image: linear-gradient(-225deg, rgb(143, 7, 233) 0%, #EC7405 48%, rgb(236, 5, 217) );
    font-family: 'Poppins', sans-serif;
    position: fixed;
    width: 100%;
    height: 100%;

}
.particles-js {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(-225deg, rgb(143, 7, 233) 0%, #EC7405 48%, rgb(236, 5, 217) 100%);
  margin:20px
}

.title {
  color: grey;
  text-align: center;
}

h2{
  font-style: oblique;
}
.fb{
}







